<link rel='stylesheet' href='/stylesheets/venues/events.css'/>

<div class="container">
  <h1 class="padtop"> All the Events </h1>

  <div class="padtop">
    <a class="btn" href="/partner/create-event/{{id}}"> Add an Event </a> </button>
  </div>

  <section class="sectionEvents"> 
      {{#each events}}
      <div class="event">
        <div class="inLine">
          <h4> Name: </h4> {{name}} <br>
        </div>
        <div class="inLine">
          <h4> Place: </h4> {{place}} <br>
        </div>
        <div class="inLine">
          <h4> Description: </h4> {{description}} <br>
        </div>
        <div class="inLine">
          <h4> Date: </h4>  {{date}} <br>
        </div>
        <div class="inLine">
          <h4> Price: </h4> {{price}} <br>
        </div>
        <div>
          <h4> Artists: </h4> <br>
          {{#each artists}}
            <div class="gallery">
              <div class="gallery-item">
              <img src="{{img}}">
                <span class="text-wrapper"> 
                    <span class="name"> {{name}} </span>
                </span>
              </div>
            </div>
          {{/each}}
          <br>
          <a class="btn btnBuy" href="/venues/tickets/{{this._id}}"> Buy ticket </a>
        </div>
      </div>
      {{/each}}
  </section>
</div>