<h1>Artist detail</h1>
<h2>{{this.details.name}}</h2>
<img src={{this.details.images.[2].url}} alt="">

<br>Categories:
<ul>
    {{#each genre}}
    <li>
        {{this}}
    </li>
    {{/each}}
</ul>

Spotify Popularity score: {{this.details.popularity}}%
<br>
<br>
<br>
Top songs:
<ul>
    {{#each tracks}}

        <p>{{this.name}}</p>
        <audio controls id="track-audio">
            <source src="{{this.preview_url}}" type="audio/ogg">
        </audio>
    {{/each}}
</ul>