<link rel='stylesheet' href='/stylesheets/artists/details.css'>

<div class="artist-container">
    <img src={{this.details.images.[2].url}} alt="">
    <div class="artist-details">
        <p>
            <h1>{{this.details.name}}</h1> Popularity: {{this.details.popularity}}%
        </p>
        <br>
        <div class="categories-container">
            {{#each genre}}
            <div class="categories">
                {{this}}
            </div>
            {{/each}}
        </div>
    </div>
    <div class="event-containers">
        <h2> Upcoming events</h2>
        {{#each event}}
        <div class="event"></div>
        <p>{{this.name}} </p>
        <p><a href="">Buy Tickets</a></p>
        {{/each}}
    </div>
</div>
</div>
<br>

<h2>Top songs</h2>

<div class="track-container">
    {{#each tracks}}
    <div class="track">
        <p>{{this.name}}</p>
        <audio controls id="track-audio">
            <source src="{{this.preview_url}}" type="audio/ogg">
        </audio>
    </div>
    {{/each}}
</div>